body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    color: #4b2c20;
}

h1 {
    font-size: 2.0rem;
    margin: 20px 0;
    margin-right: 550px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 2px solid #4b2c20;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    width: 250px;
    background-color: white;
}

.product img {
    width: 100%;
    border-radius: 10px;
}
h1 {
    background-color: black ;
}
.logo {
    width: 150px; /* Adjust size as needed */
    display: block;
    margin: 20px auto; /* Center the logo */
}
